* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: rgba(255, 255, 255, 0.9);
    width: 360px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

.weather-card img {
    width: 90px;
}

.main-temp {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
}

.details {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

.hidden {
    display: none;
}
